{% extends 'base.html' %}

{%block menu%}

    <p>
        <br><br><a href="/app_1/">Главная страница</a>
    </p>

{%endblock menu%}

{%block content%}

        {% if mebels %}
            <h1>Вся наша мебель</h1>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">


                                {% if queryset.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.previous_page_number }}">previous</a></li>
                                {% endif %}

                                <span class="current">
                                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                                </span>

                                {% if queryset.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.next_page_number }}">next</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a></li>
                                {% endif %}

                    </ul>
                </nav>
            <table class="table table-striped">
                <thead  class="table-dark">
                    <th class="align-middle">ID</th>
                    <th class="align-middle">LINK</th>
                    <th class="align-middle">PRICE</th>

                </thead>
                <tbody>
                    {% for item in queryset %}
                        <tr>
                            <td class="align-middle"><a href={% url 'show_item' item.id %}>{{item.id}}</a></td>
                            <td class="align-middle"><a href={{item.link}}>{{item.description}}</a></td>
                            <td class="align-middle">{{item.price}}</td>
            <!--                            Строки ниже для запросов в DB без использования Model           -->
            <!--                        <td>{{item.0}}</td>-->
            <!--                        <td>{{item.1}}</td>-->
            <!--                        <td>{{item.2}}</td>-->
            <!--                        <td>{{item.3}}</td>-->
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                                {% if queryset.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.previous_page_number }}">{{ queryset.previous_page_number }}</a></li>
                                {% endif %}
                                {% if queryset.has_next %}
                                <span class="page-item">...
<!--                                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.-->
                                </span>
                                {% endif %}

                                {% if queryset.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.next_page_number }}">{{ queryset.next_page_number }}</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a></li>
                                {% endif %}

                    </ul>
                </nav>
        {% else %}
            <b>К сожалению мебели пока что нету!</b>
        {% endif %}

{%endblock content%}