{% extends 'base.html' %}

{%block menu%}

    <p>
        <br><br><a href="/app_1/">Главная страница</a>
    </p>

{%endblock menu%}

{%block content%}

    {% if user.is_authenticated and user.is_superuser %}
        <h1><b>Админка.</b> Вся наша мебель</h1>

        {% include 'app_1/pagination.html' %}
        {% if queryset %}
                <table class="table table-striped">
                    <thead class="table-dark">
                      <th>ID</th>
                      <th>LINK</th>
                      <th>DATE ADDED</th>
                      <th>UPDATE DATE</th>
                      <th>PRICE</th>
                      <th>DESCRIPTION</th>
                      <th>UPDATE</th>
                      <th>DELETE</th>
                    </thead>
                    <tbody>
                        {% for item in queryset %}
                            <tr>
                                <td class="align-middle"><b>{{item.id}}</b></td>
                                <td class="align-middle"><a href={{item.link}}>Прямая ссылка</a></td>
                                <td class="align-middle">{{item.parse_datetime}}</td>
                                <td class="align-middle">
                                    {% if item.update_datetime is not None %}
                                        {{item.update_datetime}}
                                    {% else %}
                                        Запись не редактировалась
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    {{item.price}}
                                </td>
                                <td class="align-middle">
                                    {{item.description}}
                                </td>
                                <td class="align-middle">
                                    <form action="{% url 'update_item' item.id%}" method="post">
                                            {% csrf_token %}
                                            {{forms.as_p}}
                                            <p><button type="submit" class="btn btn-success" style="width:100%;">Save</button></p>
                                     </form>
                                </td>
                                <td class="align-middle">
                                    <form action="{% url 'delete_item' item.id %}" method="post">
                                        {% csrf_token %}
                                        <p><button type="submit" class="btn btn-danger"  style="width:100%;">Delete</button></p>
                                    </form>
                                </td>

                <!--                            Строки ниже для запросов в DB без использования Model           -->
                <!--                        <td>{{item.0}}</td>-->
                <!--                        <td>{{item.1}}</td>-->
                <!--                        <td>{{item.2}}</td>-->
                <!--                        <td>{{item.3}}</td>-->
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
                {% include 'app_1/pagination.html' %}
        {% else %}
            <b>К сожалению мебели пока что нету!</b>
        {% endif %}
    {% else %}
        <p>
            <strong>Страница доступна только авторизованным Администраторам!</strong>
        </p>
    {% endif %}

{%endblock content%}