{% extends 'base.html' %}

{%block menu%}

    <p>
        <a href="/app_1/">Главная страница</a>
    </p>

{%endblock menu%}

{%block content%}

        <h1><b>Админка.</b> Вся наша мебель</h1>
        {% if mebels %}
            <table>
                <head>
                  <th>ID</th>
                  <th>LINK</th>
                  <th>DESCRIPTION</th>
                  <th>PRICE</th>
                  <th>DATE</th>
                </head>
                <tbody>
                    {% for item in mebels %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td><a href={{item.link}}>Прямая ссылка</a></td>
                            <td>
                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{item.description}}</textarea>
                              </div>
                            </td>
                            <td>{{item.price}}</td>
                            <td>{{item.parse_datetime}}</td>

            <!--                            Строки ниже для запросов в DB без использования Model           -->
            <!--                        <td>{{item.0}}</td>-->
            <!--                        <td>{{item.1}}</td>-->
            <!--                        <td>{{item.2}}</td>-->
            <!--                        <td>{{item.3}}</td>-->
                        </tr>
                    {%endfor%}
                </tbody>

            </table>
        {% else %}
            <b>К сожалению мебели пока что нету!</b>
        {% endif %}

{%endblock content%}