<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Parsing of "Kufar"</title>
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->
            <!-- Далее может идти подключение любого другого CSS файла сайта -->
<!--        <link href="style.css" rel="stylesheet">-->
    </head>
    <body>
        {%block content%}

        {%endblock content%}
    </body>
</html>