<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Parsing of "Kufar"</title>


            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
                <!-- Далее может идти подключение любого другого CSS файла сайта -->
            <link href="style.css" rel="stylesheet">
        {% block styles %}
        {% endblock styles %}

    </head>
    <body>
        <p align="right">
            {% if user.is_authenticated %}
<!--                | User: {{user.username}} | email: {{user.email}} |<br>| <a href={% url 'logout' %}>Выход</a> |-->
<!--                | User: {{user.username}} |-->
                <table align="right">
                    <tbody>
<!--                        <a href={% url 'logout' %} role="button">Выход</a> |-->
                        <tr>
                            <td>|  User: <a href="{% url 'user_settings' %}"><b>{{user.username}}</b></a>  |</td>
                            <td>
                                <form action="{% url 'log_out' %}" method="POST">
                                    {% csrf_token %}
<!--                                    <a href={% url 'logout' %} role="button">Выход</a> |-->
                                    <button type="submit" class="btn btn-link" style="align:right">Выход</button> |
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>

            {% else %}
                <table align="right">
                    <tbody>
<!--                        <a href={% url 'logout' %} role="button">Выход</a> |-->
                        <tr>
                            <td>| <a href="{% url 'login' %}">Вход</a> |</td>
                            <td>
                                <a href="{% url 'registration' %}">Регистрация</a> |
                            </td>
                        </tr>

                    </tbody>
                </table>


            {% endif %}
        </p>
        <div align="center">
            {%block menu%} {%endblock menu%}
            {%block content%} {%endblock content%}
            {% block footer %}
                <footer>
                    <hr>
                    <p>Самодельная админка доступна(<b>только для superuser</b>) по адресу: http://127.0.0.1:8000/app_1/items_admin</p>
                    <p>Доступ к отдельным элементам БД "Мебель". Число "9874" - ID из вашей БД (у <b>Администратора</b> есть возможность редактировать данные отсюда): http://127.0.0.1:8000/app_1/items/9874</p>
                    <p>Для <b>неавторизованного</b> пользователя доступна только одна ссылка просмотра данных из базы данных</p>
                    <p>Для <b>Администратора</b> доступны все ссылки портала</p>
                    <p>Для <b>Авторизованного</b> пользователя  доступны все ссылки портала, <b>кроме</b> редактирования записей БД</p>
                </footer>
            {% endblock footer %}

        </div>

    </body>
</html>