<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Parsing of "Kufar"</title>


            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
                <!-- Далее может идти подключение любого другого CSS файла сайта -->
            <link href="style.css" rel="stylesheet">
        {% block styles %}
        {% endblock styles %}

    </head>
    <body>
        <div align="center">
            {%block menu%} {%endblock menu%}
            {%block content%} {%endblock content%}
            {% block footer %}
                Самодельная админка доступна по адресу: http://127.0.0.1:8000/app_1/items_admin
            {% endblock footer %}

        </div>

    </body>
</html>